.cardBanner{
  text-align: center;
}

.imgcardBanner{
  background-color: rgba(23, 23, 23, 0.5);
  padding: 15px 5%;
  width: 90%;
  border-radius: 5px;
}

.cardBanner p{
  font-size: 14px;
  margin: 0px 10%;
}

@media screen and (max-width: 425px) {
  .imgcardBanner{
    background-color: rgba(23, 23, 23, 0.5);
    padding: 15px 5%;
    width: 90%;
    border-radius: 5px;
  }
}

@media screen and (min-width: 426px) and (max-width:1025px) {
  .imgcardBanner{
    background-color: rgba(23, 23, 23, 0.5);
    padding: 15px 5%;
    width: 90%;
    border-radius: 5px;
  }
}