.infoEquipment{
  margin-bottom: 20px;
  background: linear-gradient(rgba(66, 7, 54, 0.75) 0%, rgba(0, 0, 0, 0) 65%);
  width: 83.33333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.infoEquipment img{
  max-width: 180px;
  opacity: 1;
}

.infoEquipment p{
  padding: 10px 40px 10px 10px;
  background: rgba(54, 19, 89, 0.85);
  width: auto;
  margin: 0%;
  margin-bottom: 10px;
  position: absolute;
  left: 36%;
  top: 30%;
}

.bg1{
  background-image: url("../../assets/img/background/circle_object_top.png");
  width: 100%;
  max-width: 430px;
  height: 430px;
  background-repeat: no-repeat;
  margin: auto;
}

.bg2 {
  background-image: url("../../assets/img/background/circle_object.png");
  width: 100%;
  max-width: 430px;
  height: 430px;
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

@media screen and (max-width:425px) {
  .infoEquipment{
    margin-bottom: 0px;
    width: 100%;
  }

  .infoEquipment p {
    margin-bottom: 10px;
    position: absolute;
    left: 12%;
    top: 30%;
  }
}

@media screen and (max-width:768px) {
  .infoEquipment {
    margin-bottom: 0px;
    width: 100%;
  }

  .infoEquipment p {
    padding: 10px 40px 10px 10px;
    background: rgba(54, 19, 89, 0.85);
    width: auto;
    margin: 0%;
    margin-bottom: 10px;
    position: absolute;
    left: 25%;
    top: 30%;
  }
}