.layoutLogo{
  text-align: center;
}

.layoutLogo img{
  width: 20%;
}

.divimgProm{
  text-align: center;
}

.divimgProm img{
  width: 40%;
}

.divimgProm img{
  width: 35%;
  border-radius: 12px;
  border: 2px solid rgba(132, 132, 132, 0.45);
}

.divimgProm {
  margin-top: 100px;
}

.imgWrapper{
  height: 120px;
}

.layoutLogo div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.layoutLogo div img{
  width: 110px;
  height: 75px;
  background: linear-gradient(rgba(6, 2, 71, 0.7) 0%, rgba(92, 8, 78, 0.7) 91%);
  position: relative;
}

.pop1{
  transform: rotate(-7deg);
  left: 60px;
  top: 20px;
}
.pop2 {
  transform: rotate(9deg);
  right: 60px;
  top: 30px;
}
.pop3 {
  transform: rotate(-8deg);
  left: 20px;
  bottom: 70px;
}
.pop4 {
  transform: rotate(7deg);
  right: 20px;
  bottom: 70px;
}

@media screen and (max-width: 425px) {
  .containerHome{
    margin: 0%;
    border-radius: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .divimgProm{
    margin-top: 50px;
  }

  .divimgProm img {
    width: 80%;
    border-radius: 12px;
    border: 2px solid rgba(132, 132, 132, 0.45);
  }

  .layoutLogo img{
    width: 250px;
  }

  .pop1 {
    transform: rotate(-7deg);
    left: 0px;
    top: 0px;
  }

  .pop2 {
    transform: rotate(9deg);
    right: 0px;
    top: 0px;
  }

  .pop3 {
    transform: rotate(-8deg);
    left: 0px;
    bottom: 0px;
  }

  .pop4 {
    transform: rotate(7deg);
    right: 0px;
    bottom: 0px;
  }
}

@media screen and (max-width: 1024px) {

  .divimgProm img {
    width: 80%;
    border-radius: 12px;
    border: 2px solid rgba(132, 132, 132, 0.45);
  } 

  .divimgProm{
    margin-top: 50px;
  }

  .layoutLogo img {
    width: 250px;
  }
}