.layoutCharacter{
  text-align: center;
}

.listIconAtk{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: auto;
}

.infoCharacter{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(23, 23, 23, 0.5);
  padding: 10px 5%;
  border-radius: 5px;
}

.imgCharacter{
  width: 145px;
}

.listIconAtk img{
  width: 40px;
  padding-bottom: 8px;
}

.layoutCharacter p {
  margin: 0%;
}

@media screen and (max-width:768px) {
  .imgCharacter {
    width: 135px;
  }

  .listIconAtk {
    width: 40px;
    margin-top: -20px;
  }
}

@media screen and (min-width:2500px) {
  .imgCharacter {
    width: 160px;
  }
}