.tophero{
  width: 100%;
  height: 25px;
  background: linear-gradient(rgb(63, 36, 85) 0%, rgb(44, 36, 85) 90%);
  transition: all 1s ease-out 0s;
  border-bottom: 1px solid #7767c7;
}

.tophero2{
  width: 100%;
  height: 35px;
  padding-bottom: 3px;
  transition: all 1s ease-out 0s;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.heroLeft{
  margin-top: 25px;
  margin-left: -70px;
  width: 35%;
  height: 100%;
  background: #2c2455;
  transform: skew(-1deg);
  border-right: 1px solid #7767c7;
  border-bottom: 1px solid #7767c7;
}

.heroRight{
  margin-top: 25px;
  width: 35%;
  height: 100%;
  background: #2c2455;
  transform: skew(1deg);
  border-left: 1px solid #7767c7;
  border-bottom: 1px solid #7767c7;
  position: relative;
  right: 0px;
}


@media screen and (max-width: 425px) {
  .tophero {
    width: 100%;
    height: 45px;
    background: linear-gradient(rgb(63, 36, 85) 0%, rgb(44, 36, 85) 90%);
    transition: all 1s ease-out 0s;
    border-bottom: 1px solid #7767c7;
  }

  .tophero2{
    display: none;
  }
}

@media screen and (max-width: 768px) and (min-width:426px) {
  .tophero {
    width: 100%;
    height: 45px;
    background: linear-gradient(rgb(63, 36, 85) 0%, rgb(44, 36, 85) 90%);
    transition: all 1s ease-out 0s;
    border-bottom: 1px solid #7767c7;
  }

  .tophero2 {
    display: none;
  }
}