.layoutAbility{
  text-align: center;
}

.infoAbility{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(23, 23, 23, 0.5);
  padding: 10px 0px;
}

.imgAbility{
  padding-right: 10px;
}

.layoutAbility p {
  margin: 0%;
}
