.layoutBanner{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  background: linear-gradient(rgba(66, 7, 54, 0.75) 0%, rgba(0, 0, 0, 0) 65%);
  margin: 8%;
  margin-top: 6%;
  justify-content: center;
  padding-top: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 425px) {
  .layoutBanner{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    background: linear-gradient(rgba(66, 7, 54, 0.75) 0%, rgba(0, 0, 0, 0) 65%);
    margin: 8%;
    margin-top: 6%;
    justify-content: center;
    padding-top: 20px;
    border-radius: 5px;
  }
}