.layoutWeapon{
  text-align: center;
}

.infoWeapon{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(23, 23, 23, 0.5);
  padding: 10px 0px;
}

.imgWeapon{
  padding-right: 10px;
}

.layoutWeapon p {
  margin: 0%;
  margin-top: 10px;
}

.infoWeapon img{
  margin-left: 0px;
}