.layoutNavbar{
  margin: 0%;
  width: 11%;
  height: 100%;
  display: block;
  position: fixed;
  background: rgba(44, 36, 85, 0.84);
  border-right: 4px solid rgb(156, 122, 241);
  transition: all 0.2s ease 0s;
  z-index: 2;
}

.layoutNavbarFalse {
  margin: 0%;
  width: 4%;
  height: 100%;
  display: block;
  position: fixed;
  background: rgba(44, 36, 85, 0.84);
  border-right: 4px solid rgb(156, 122, 241);
  transition: all 0.2s ease 0s;
  z-index: 2;
}

.titleNav{
  transition: all 0.2s ease 0s;
  display: none;
}

.layoutIconNav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  height: 50px;
  margin: 10px 0px 10px 8px;
  padding: 5px 5px;
  background-image: url("../../assets/img/icon_nav/background_button.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-decoration: none;
}

.layoutIconNavActive{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  height: 50px;
  margin: 10px 0px 10px 8px;
  padding: 5px 5px;
  background-image: url("../../assets/img/icon_nav/background_button_selected.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-decoration: none;
}

.layoutIconNav img,
.layoutIconNavActive img{
  width: 60px;
  height: 60px;
}

.layoutIconNav p,
.layoutIconNavActive p{
  color: rgba(255, 255, 255, 0.87);;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
}

.layoutTitle{
  margin-left: 20px;
  margin-top: 20px;
}

.layoutTitle p {
  margin: 0%;
}

.layoutTitle h3{
  margin: 0%;
  font-size: 20px;
}

.imgNav{
  width: 50px;
  margin-left: 15px;
  margin-top: 10px;
}

@media screen and (max-width: 425px) {
  .layoutNavbar {
    width: 45%;
  }
  
  .layoutNavbarFalse {
    width: 16%;
  }
}

@media screen and (max-width: 320px) {
  .layoutNavbar {
    width: 60%;
  }

  .layoutNavbarFalse {
    width: 20%;
  }
}

@media screen and (max-width: 768px) and (min-width:426px) {
  .layoutNavbar {
    width: 30%;
  }

  .layoutNavbarFalse {
    width: 10%;
  }
}

@media screen and (max-width: 1024px) and (min-width:769px) {
  .layoutNavbar {
    width: 18%;
  }

  .layoutNavbarFalse {
    width: 8%;
  }
}

@media screen and (max-width: 1440px) and (min-width:1025px) {
  .layoutNavbar {
    width: 15%;
  }

  .layoutNavbarFalse {
    width: 5%;
  }
}