.containerFooter{
  text-align: center;
}

.linkBtn {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  background: rgba(46, 32, 111, 0.94);
  border-radius: 7px;
  border: 1px solid rgb(255, 68, 252);
  transition: transform 0.1s ease 0s;
  width: 10%;
}

.linkBtn::before {
  background: url("./assets/img/background_button_hover.png");
  background-color: black;
}

.linkBtn a {
  color: aliceblue;
  text-decoration: none;
  padding: 15px;
  width: 150px;
  text-align: center;
}

.infoFooter{
  padding-bottom: 10px;
}

.infoFooter p{
  font-style: italic;
  font-size: 13px;
  color: white;
  margin: 0%;
}

.infoFooter p a{
  text-decoration: none;
  color: rgb(255, 213, 156);
  font-weight: bold;
}

@media screen and (max-width:425px) {
  .linkBtn {
    width: 30%;
  }
}

@media screen and (min-width:425px) and (max-width:768px){
  .linkBtn {
    width: 30%;
  }
}