.infoBanners{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.infoTitle{
  margin-right: 10%;
  margin-left: 10%;
}

.infoTitle p{
  padding: 10px;
  background: rgba(54, 19, 89, 0.85);
  width: auto;
}

.periode{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin: 0%;
}

.infoPeriode{
  border: 2px solid #765b7e;
  width: 40%;
  text-align: center;
}

.infoPeriode h3{
  text-transform: uppercase;
}

.infoPerso{
  border: 2px solid #765b7e;
  width: 40%;
  text-transform: uppercase;
}

.infoPerso{
  text-align: center;
}

.imgPerso{
  border-radius: 50%;
  width: 30%;
}

.imgBanner{
  width: 40%;
  background-color: rgba(23, 23, 23, 0.5);
  padding: 20px 30%;
}

.periodeTo{
  margin-left: 10px;
}

.periodeFrom,
.periodeTo{
  background-color: rgba(23, 23, 23, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  border-radius: 5px;
  width: 200px;
}

.periodeFrom p,
.periodeTo p{
  margin: 0%;
}

.From,
.To{
  font-size: 18px;
}

.FromP,
.ToP{
  font-size: 16px;
}

@media screen and (max-width:425px) {
  .infoBanners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .infoPeriode {
    width: 90%;
    text-align: center;
  }

  .periode {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 0%;
  }

  .periodeTo {
    margin-left: 0px;
    margin-top: 10px;
  }
    
  .periodeFrom,
  .periodeTo {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .infoPerso {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .infoTitle{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .imgBanner{
    width: 90%;
    background-color: rgba(23, 23, 23, 0);
    padding: 10px 10px;
  }

  .infoTitle p {
    background: rgba(54, 19, 89, 0.85);
    width: 85%;
  }
}

@media screen and (max-width:768px) and (min-width:426px) {
  .infoBanners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .infoPeriode {
    width: 90%;
    text-align: center;
  }

  .infoPerso {
    width: 90%;
    margin-top: 30px;
  }

  .infoTitle{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .imgBanner{
    width: 85%;
    background-color: rgba(23, 23, 23, 0.5);
    padding: 10px 10px;
  }

  .infoTitle p {
    padding: 10px;
    background: rgba(54, 19, 89, 0.85);
    width: 90%;
  }
}

@media screen and (max-width:1024px) and (min-width:768px) {
  .imgBanner {
    width: 70%;
    background-color: rgba(23, 23, 23, 0.5);
    padding: 15px 15%;
  }
}