.divInfo{
  background: rgba(41, 21, 85, 0.31);
  padding: 30px;
  border-radius: 18px;
  color: rgb(218, 218, 218);
  margin: 20px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.infoAbilitys {
  margin-bottom: 20px;
  background: linear-gradient(rgba(66, 7, 54, 0.75) 0%, rgba(0, 0, 0, 0) 65%);
  width: 83.33333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.infoAbilitys img {
  max-width: 180px;
  opacity: 1;
}

.infoAbilitys p {
  padding: 10px 40px 10px 10px;
  background: rgba(54, 19, 89, 0.85);
  width: auto;
  margin: 0%;
  margin-bottom: 10px;
  position: absolute;
  left: 36%;
  top: 30%;
}

@media screen and (max-width:425px) {
  .divInfo {
    background: rgba(41, 21, 85, 0.31);
    padding: 10px;
    border-radius: 18px;
    color: rgb(218, 218, 218);
    margin: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .infoAbilitys {
    margin-bottom: 0px;
    width: 100%;
  }

  .infoAbilitys p {
    padding: 10px 40px 10px 10px;
    background: rgba(54, 19, 89, 0.85);
    width: 65%;
    margin: 0%;
    margin-bottom: 10px;
    position: absolute;
    left: 12%;
    top: 30%;
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .divInfo {
    background: rgba(41, 21, 85, 0.31);
    padding: 10px;
    border-radius: 18px;
    color: rgb(218, 218, 218);
    margin: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .infoAbilitys {
    margin-bottom: 0px;
    width: 100%;
  }

  .infoAbilitys p {
    padding: 10px 40px 10px 10px;
    background: rgba(54, 19, 89, 0.85);
    width: auto;
    margin: 0%;
    margin-bottom: 10px;
    position: absolute;
    left: 25%;
    top: 30%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .divInfo {
    background: rgba(41, 21, 85, 0.31);
    padding: 10px;
    border-radius: 18px;
    color: rgb(218, 218, 218);
    margin: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .infoAbilitys p {
    padding: 10px 40px 10px 10px;
    background: rgba(54, 19, 89, 0.85);
    width: 30%;
    margin: 0%;
    margin-bottom: 10px;
    position: absolute;
    left: 25%;
    top: 30%;
  }
}