.container{
  background: linear-gradient(rgba(6, 2, 71, 0.7) 0%, rgba(92, 8, 78, 0.7) 91%);
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 5px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.layout{
  display: flex;
  flex-direction: column;
}

.imgMid {
  padding: 10px 7% 10px;
  background-image: url("./assets/img/background/border_left.png"), url("./assets/img/background/border_right.png");
  background-repeat: repeat-y, repeat-y;
  background-position: left top, right top;
  background-size: 73.5px, 90px;
  overflow: hidden;
}

.imgHeader,
.imgFooter {
  display: flex;
}

.imgHeader div {
  height: 157px;
  background-position: left top;
}

.leftHeader {
  width: 200px;
  background-image: url("./assets/img/background/border_top_left.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.midHeader {
  background-image: url("./assets/img/background/border_top.png");
  background-repeat: repeat-x;
  background-size: auto 51.5px;
  flex: 1 1 auto;
}

.rightHeader {
  background-image: url("./assets/img/background/border_top_right.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 90px;
  margin-left: auto;
}

.leftFooter {
  background-image: url("./assets/img/background/border_footer_left.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
  width: 200px;
  margin-left: auto;
  height: 59px;
}

.midFooter {
  background-image: url("./assets/img/background/border_footer.png");
  background-repeat: repeat-x;
  background-position: left top;
  background-size: 100% 100%;
  flex: 1 1 auto;
  height: 59px;
}

.rightFooter {
  background-image: url("./assets/img/background/border_footer_right.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100% 100%;
  width: 90px;
  margin-left: auto;
  height: 59px;
}

/*
* list card template
*/
.cardList{
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-column-gap: 15px;
  grid-row-gap: 50px;
  background: linear-gradient(rgba(66, 7, 54, 0.75) 0%, rgba(0, 0, 0, 0) 65%);
  justify-content: center;
  padding-top: 20px;
  border-radius: 5px;
}

@media screen and (max-width:425px) {
  .container {
    background: linear-gradient(rgba(6, 2, 71, 0.7) 0%, rgba(92, 8, 78, 0.7) 91%);
    width: 100%;
    border-radius: 5px;
    margin-top: 70px;
    padding-left: 0%;
    padding-right: 0%;
  }

  .cardList{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
  }

  .imgMid {
    padding: 0px 10% 0px;
  }
}

@media screen and (max-width:1024px) and (min-width:426px) {
  .container {
    background: linear-gradient(rgba(6, 2, 71, 0.7) 0%, rgba(92, 8, 78, 0.7) 91%);
    width: 80%;
    border-radius: 5px;
    margin-top: 70px;
  }

  .cardList{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
  }
}

@media screen and (min-width:2500px) {
  .cardList{
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
  }
}