.container{
  background: linear-gradient(rgba(6, 2, 71, 0.7) 0%, rgba(92, 8, 78, 0.7) 91%);
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 5px;
  padding-bottom: 1px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.layout{
  display: flex;
}